USE [productionboard_db]
GO
ALTER TABLE [dbo].[UserShiftAssignments] DROP CONSTRAINT [CK_UserShiftAssignments_ShiftName]
GO
ALTER TABLE [dbo].[UserShiftAssignments] DROP CONSTRAINT [CK_UserShiftAssignments_EffectiveDates]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [CK_Users_FailedLoginCount]
GO
ALTER TABLE [dbo].[ProductionProducts] DROP CONSTRAINT [CK_ProductionProducts_StandardRatePerHour]
GO
ALTER TABLE [dbo].[ProductionBoards] DROP CONSTRAINT [CK_ProductionBoards_InitialProductRate]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] DROP CONSTRAINT [CK_ProductChanges_PreviousRate]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] DROP CONSTRAINT [CK_ProductChanges_NewRate]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] DROP CONSTRAINT [CK_ProductChanges_EffectiveHour]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] DROP CONSTRAINT [CK_ProductChanges_ChangeoverMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [CK_ProductionBoardHours_TargetQuantity]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [CK_ProductionBoardHours_StopDuration]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [CK_ProductionBoardHours_ScrapQuantity]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [CK_ProductionBoardHours_RatePerHour]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [CK_ProductionBoardHours_PlannedStopMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [CK_ProductionBoardHours_HourNumber]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [CK_ProductionBoardHours_ChangeoverMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [CK_ProductionBoardHours_ActualQuantity]
GO
ALTER TABLE [dbo].[UserShiftAssignments] DROP CONSTRAINT [FK_UserShiftAssignments_Users]
GO
ALTER TABLE [dbo].[ProductionBoards] DROP CONSTRAINT [FK_ProductionBoards_InitialProduct]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] DROP CONSTRAINT [FK_ProductChanges_PreviousProduct]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] DROP CONSTRAINT [FK_ProductChanges_NewProduct]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] DROP CONSTRAINT [FK_ProductChanges_Board]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [FK_ProductionBoardHours_ProductionBoards]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [FK_ProductionBoardHours_Product]
GO
ALTER TABLE [dbo].[UserShiftAssignments] DROP CONSTRAINT [DF_UserShiftAssignments_CreatedAtUtc]
GO
ALTER TABLE [dbo].[UserShiftAssignments] DROP CONSTRAINT [DF_UserShiftAssignments_IsActive]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_CreatedAtUtc]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_FailedLoginCount]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_MustChangePassword]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_IsActive]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_CreatedAtUtc]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_IsActive]
GO
ALTER TABLE [dbo].[ProductionProducts] DROP CONSTRAINT [DF_ProductionProducts_CreatedAt]
GO
ALTER TABLE [dbo].[ProductionProducts] DROP CONSTRAINT [DF_ProductionProducts_IsActive]
GO
ALTER TABLE [dbo].[ProductionBoards] DROP CONSTRAINT [DF_ProductionBoards_CreatedAt]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] DROP CONSTRAINT [DF_ProductChanges_ChangedAt]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] DROP CONSTRAINT [DF_ProductChanges_ChangeoverMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [DF_ProductionBoardHours_ChangeoverMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [DF_ProductionBoardHours_PlannedStopMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [DF__Productio__Creat__403A8C7D]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [DF__Productio__StopD__3F466844]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [DF__Productio__Scrap__3E52440B]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [DF__Productio__Actua__3D5E1FD2]
GO
ALTER TABLE [dbo].[ProductionBoardHours] DROP CONSTRAINT [DF__Productio__Targe__3C69FB99]
GO
/****** Object:  Index [IX_UserShiftAssignments_Current]    Script Date: 8/1/2026 6:51:16 PM ******/
DROP INDEX [IX_UserShiftAssignments_Current] ON [dbo].[UserShiftAssignments]
GO
/****** Object:  Index [IX_Users_Username_IsActive]    Script Date: 8/1/2026 6:51:16 PM ******/
DROP INDEX [IX_Users_Username_IsActive] ON [dbo].[Users]
GO
/****** Object:  Index [IX_ProductChanges_BoardHour]    Script Date: 8/1/2026 6:51:16 PM ******/
DROP INDEX [IX_ProductChanges_BoardHour] ON [dbo].[ProductionBoardProductChanges]
GO
/****** Object:  Table [dbo].[UserShiftAssignments]    Script Date: 8/1/2026 6:51:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserShiftAssignments]') AND type in (N'U'))
DROP TABLE [dbo].[UserShiftAssignments]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/1/2026 6:51:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/1/2026 6:51:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[ProductionProducts]    Script Date: 8/1/2026 6:51:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductionProducts]') AND type in (N'U'))
DROP TABLE [dbo].[ProductionProducts]
GO
/****** Object:  Table [dbo].[ProductionBoards]    Script Date: 8/1/2026 6:51:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductionBoards]') AND type in (N'U'))
DROP TABLE [dbo].[ProductionBoards]
GO
/****** Object:  Table [dbo].[ProductionBoardProductChanges]    Script Date: 8/1/2026 6:51:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductionBoardProductChanges]') AND type in (N'U'))
DROP TABLE [dbo].[ProductionBoardProductChanges]
GO
/****** Object:  Table [dbo].[ProductionBoardHours]    Script Date: 8/1/2026 6:51:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductionBoardHours]') AND type in (N'U'))
DROP TABLE [dbo].[ProductionBoardHours]
GO
USE [master]
GO
/****** Object:  Database [productionboard_db]    Script Date: 8/1/2026 6:51:16 PM ******/
DROP DATABASE [productionboard_db]
GO
/****** Object:  Database [productionboard_db]    Script Date: 8/1/2026 6:51:16 PM ******/
CREATE DATABASE [productionboard_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'productionboard_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\productionboard_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'productionboard_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\productionboard_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [productionboard_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [productionboard_db]
GO
/****** Object:  Table [dbo].[ProductionBoardHours]    Script Date: 8/1/2026 6:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionBoardHours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductionBoardId] [int] NOT NULL,
	[HourNumber] [tinyint] NOT NULL,
	[HourLabel] [nvarchar](5) NOT NULL,
	[TargetQuantity] [int] NOT NULL,
	[ActualQuantity] [int] NOT NULL,
	[ScrapQuantity] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[StopType] [nvarchar](100) NULL,
	[StopDurationMinutes] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[ProductId] [int] NULL,
	[ProductNameSnapshot] [nvarchar](150) NULL,
	[RatePerHourSnapshot] [int] NULL,
	[PlannedStopMinutes] [int] NOT NULL,
	[ChangeoverMinutes] [int] NOT NULL,
 CONSTRAINT [PK_ProductionBoardHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductionBoardHours_BoardHour] UNIQUE NONCLUSTERED 
(
	[ProductionBoardId] ASC,
	[HourNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionBoardProductChanges]    Script Date: 8/1/2026 6:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionBoardProductChanges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductionBoardId] [int] NOT NULL,
	[EffectiveHourNumber] [tinyint] NOT NULL,
	[PreviousProductId] [int] NOT NULL,
	[PreviousProductCodeSnapshot] [nvarchar](50) NOT NULL,
	[PreviousProductNameSnapshot] [nvarchar](150) NOT NULL,
	[PreviousRatePerHourSnapshot] [int] NOT NULL,
	[NewProductId] [int] NOT NULL,
	[NewProductCodeSnapshot] [nvarchar](50) NOT NULL,
	[NewProductNameSnapshot] [nvarchar](150) NOT NULL,
	[NewRatePerHourSnapshot] [int] NOT NULL,
	[ChangeoverMinutes] [int] NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[ChangedBy] [nvarchar](256) NULL,
	[ChangedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ProductionBoardProductChanges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductChanges_BoardHour] UNIQUE NONCLUSTERED 
(
	[ProductionBoardId] ASC,
	[EffectiveHourNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionBoards]    Script Date: 8/1/2026 6:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionBoards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BoardDate] [date] NOT NULL,
	[TeamName] [nvarchar](100) NOT NULL,
	[ShiftName] [nvarchar](50) NOT NULL,
	[LineName] [nvarchar](100) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[InitialProductId] [int] NULL,
	[InitialProductRatePerHourSnapshot] [int] NULL,
 CONSTRAINT [PK_ProductionBoards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductionBoards_BoardIdentity] UNIQUE NONCLUSTERED 
(
	[BoardDate] ASC,
	[TeamName] ASC,
	[ShiftName] ASC,
	[LineName] ASC,
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionProducts]    Script Date: 8/1/2026 6:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[StandardRatePerHour] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_ProductionProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductionProducts_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductionProducts_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/1/2026 6:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Products_ProductCode] UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Products_ProductName] UNIQUE NONCLUSTERED 
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/1/2026 6:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](80) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[MustChangePassword] [bit] NOT NULL,
	[FailedLoginCount] [int] NOT NULL,
	[LockedUntilUtc] [datetime2](0) NULL,
	[LastLoginAtUtc] [datetime2](0) NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserShiftAssignments]    Script Date: 8/1/2026 6:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserShiftAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TeamName] [nvarchar](100) NOT NULL,
	[ShiftName] [nvarchar](50) NOT NULL,
	[EffectiveFrom] [date] NOT NULL,
	[EffectiveTo] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NULL,
 CONSTRAINT [PK_UserShiftAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductChanges_BoardHour]    Script Date: 8/1/2026 6:51:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductChanges_BoardHour] ON [dbo].[ProductionBoardProductChanges]
(
	[ProductionBoardId] ASC,
	[EffectiveHourNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username_IsActive]    Script Date: 8/1/2026 6:51:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Username_IsActive] ON [dbo].[Users]
(
	[Username] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserShiftAssignments_Current]    Script Date: 8/1/2026 6:51:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserShiftAssignments_Current] ON [dbo].[UserShiftAssignments]
(
	[UserId] ASC,
	[IsActive] ASC,
	[EffectiveFrom] ASC,
	[EffectiveTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductionBoardHours] ADD  DEFAULT ((0)) FOR [TargetQuantity]
GO
ALTER TABLE [dbo].[ProductionBoardHours] ADD  DEFAULT ((0)) FOR [ActualQuantity]
GO
ALTER TABLE [dbo].[ProductionBoardHours] ADD  DEFAULT ((0)) FOR [ScrapQuantity]
GO
ALTER TABLE [dbo].[ProductionBoardHours] ADD  DEFAULT ((0)) FOR [StopDurationMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardHours] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionBoardHours] ADD  CONSTRAINT [DF_ProductionBoardHours_PlannedStopMinutes]  DEFAULT ((0)) FOR [PlannedStopMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardHours] ADD  CONSTRAINT [DF_ProductionBoardHours_ChangeoverMinutes]  DEFAULT ((0)) FOR [ChangeoverMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] ADD  CONSTRAINT [DF_ProductChanges_ChangeoverMinutes]  DEFAULT ((0)) FOR [ChangeoverMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] ADD  CONSTRAINT [DF_ProductChanges_ChangedAt]  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[ProductionBoards] ADD  CONSTRAINT [DF_ProductionBoards_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionProducts] ADD  CONSTRAINT [DF_ProductionProducts_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductionProducts] ADD  CONSTRAINT [DF_ProductionProducts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_MustChangePassword]  DEFAULT ((1)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_FailedLoginCount]  DEFAULT ((0)) FOR [FailedLoginCount]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[UserShiftAssignments] ADD  CONSTRAINT [DF_UserShiftAssignments_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserShiftAssignments] ADD  CONSTRAINT [DF_UserShiftAssignments_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[ProductionBoardHours]  WITH CHECK ADD  CONSTRAINT [FK_ProductionBoardHours_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ProductionProducts] ([Id])
GO
ALTER TABLE [dbo].[ProductionBoardHours] CHECK CONSTRAINT [FK_ProductionBoardHours_Product]
GO
ALTER TABLE [dbo].[ProductionBoardHours]  WITH CHECK ADD  CONSTRAINT [FK_ProductionBoardHours_ProductionBoards] FOREIGN KEY([ProductionBoardId])
REFERENCES [dbo].[ProductionBoards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionBoardHours] CHECK CONSTRAINT [FK_ProductionBoardHours_ProductionBoards]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges]  WITH CHECK ADD  CONSTRAINT [FK_ProductChanges_Board] FOREIGN KEY([ProductionBoardId])
REFERENCES [dbo].[ProductionBoards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] CHECK CONSTRAINT [FK_ProductChanges_Board]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges]  WITH CHECK ADD  CONSTRAINT [FK_ProductChanges_NewProduct] FOREIGN KEY([NewProductId])
REFERENCES [dbo].[ProductionProducts] ([Id])
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] CHECK CONSTRAINT [FK_ProductChanges_NewProduct]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges]  WITH CHECK ADD  CONSTRAINT [FK_ProductChanges_PreviousProduct] FOREIGN KEY([PreviousProductId])
REFERENCES [dbo].[ProductionProducts] ([Id])
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] CHECK CONSTRAINT [FK_ProductChanges_PreviousProduct]
GO
ALTER TABLE [dbo].[ProductionBoards]  WITH CHECK ADD  CONSTRAINT [FK_ProductionBoards_InitialProduct] FOREIGN KEY([InitialProductId])
REFERENCES [dbo].[ProductionProducts] ([Id])
GO
ALTER TABLE [dbo].[ProductionBoards] CHECK CONSTRAINT [FK_ProductionBoards_InitialProduct]
GO
ALTER TABLE [dbo].[UserShiftAssignments]  WITH CHECK ADD  CONSTRAINT [FK_UserShiftAssignments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserShiftAssignments] CHECK CONSTRAINT [FK_UserShiftAssignments_Users]
GO
ALTER TABLE [dbo].[ProductionBoardHours]  WITH CHECK ADD  CONSTRAINT [CK_ProductionBoardHours_ActualQuantity] CHECK  (([ActualQuantity]>=(0)))
GO
ALTER TABLE [dbo].[ProductionBoardHours] CHECK CONSTRAINT [CK_ProductionBoardHours_ActualQuantity]
GO
ALTER TABLE [dbo].[ProductionBoardHours]  WITH CHECK ADD  CONSTRAINT [CK_ProductionBoardHours_ChangeoverMinutes] CHECK  (([ChangeoverMinutes]>=(0) AND [ChangeoverMinutes]<=(60)))
GO
ALTER TABLE [dbo].[ProductionBoardHours] CHECK CONSTRAINT [CK_ProductionBoardHours_ChangeoverMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardHours]  WITH CHECK ADD  CONSTRAINT [CK_ProductionBoardHours_HourNumber] CHECK  (([HourNumber]>=(1) AND [HourNumber]<=(8)))
GO
ALTER TABLE [dbo].[ProductionBoardHours] CHECK CONSTRAINT [CK_ProductionBoardHours_HourNumber]
GO
ALTER TABLE [dbo].[ProductionBoardHours]  WITH CHECK ADD  CONSTRAINT [CK_ProductionBoardHours_PlannedStopMinutes] CHECK  (([PlannedStopMinutes]>=(0) AND [PlannedStopMinutes]<=(60)))
GO
ALTER TABLE [dbo].[ProductionBoardHours] CHECK CONSTRAINT [CK_ProductionBoardHours_PlannedStopMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardHours]  WITH CHECK ADD  CONSTRAINT [CK_ProductionBoardHours_RatePerHour] CHECK  (([RatePerHourSnapshot] IS NULL OR [RatePerHourSnapshot]>(0)))
GO
ALTER TABLE [dbo].[ProductionBoardHours] CHECK CONSTRAINT [CK_ProductionBoardHours_RatePerHour]
GO
ALTER TABLE [dbo].[ProductionBoardHours]  WITH CHECK ADD  CONSTRAINT [CK_ProductionBoardHours_ScrapQuantity] CHECK  (([ScrapQuantity]>=(0)))
GO
ALTER TABLE [dbo].[ProductionBoardHours] CHECK CONSTRAINT [CK_ProductionBoardHours_ScrapQuantity]
GO
ALTER TABLE [dbo].[ProductionBoardHours]  WITH CHECK ADD  CONSTRAINT [CK_ProductionBoardHours_StopDuration] CHECK  (([StopDurationMinutes]>=(0)))
GO
ALTER TABLE [dbo].[ProductionBoardHours] CHECK CONSTRAINT [CK_ProductionBoardHours_StopDuration]
GO
ALTER TABLE [dbo].[ProductionBoardHours]  WITH CHECK ADD  CONSTRAINT [CK_ProductionBoardHours_TargetQuantity] CHECK  (([TargetQuantity]>=(0)))
GO
ALTER TABLE [dbo].[ProductionBoardHours] CHECK CONSTRAINT [CK_ProductionBoardHours_TargetQuantity]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges]  WITH CHECK ADD  CONSTRAINT [CK_ProductChanges_ChangeoverMinutes] CHECK  (([ChangeoverMinutes]>=(0) AND [ChangeoverMinutes]<=(60)))
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] CHECK CONSTRAINT [CK_ProductChanges_ChangeoverMinutes]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges]  WITH CHECK ADD  CONSTRAINT [CK_ProductChanges_EffectiveHour] CHECK  (([EffectiveHourNumber]>=(1) AND [EffectiveHourNumber]<=(8)))
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] CHECK CONSTRAINT [CK_ProductChanges_EffectiveHour]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges]  WITH CHECK ADD  CONSTRAINT [CK_ProductChanges_NewRate] CHECK  (([NewRatePerHourSnapshot]>(0)))
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] CHECK CONSTRAINT [CK_ProductChanges_NewRate]
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges]  WITH CHECK ADD  CONSTRAINT [CK_ProductChanges_PreviousRate] CHECK  (([PreviousRatePerHourSnapshot]>(0)))
GO
ALTER TABLE [dbo].[ProductionBoardProductChanges] CHECK CONSTRAINT [CK_ProductChanges_PreviousRate]
GO
ALTER TABLE [dbo].[ProductionBoards]  WITH CHECK ADD  CONSTRAINT [CK_ProductionBoards_InitialProductRate] CHECK  (([InitialProductRatePerHourSnapshot] IS NULL OR [InitialProductRatePerHourSnapshot]>(0)))
GO
ALTER TABLE [dbo].[ProductionBoards] CHECK CONSTRAINT [CK_ProductionBoards_InitialProductRate]
GO
ALTER TABLE [dbo].[ProductionProducts]  WITH CHECK ADD  CONSTRAINT [CK_ProductionProducts_StandardRatePerHour] CHECK  (([StandardRatePerHour]>(0)))
GO
ALTER TABLE [dbo].[ProductionProducts] CHECK CONSTRAINT [CK_ProductionProducts_StandardRatePerHour]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_FailedLoginCount] CHECK  (([FailedLoginCount]>=(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_FailedLoginCount]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]=N'Viewer' OR [Role]=N'TeamLeader' OR [Role]=N'Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[UserShiftAssignments]  WITH CHECK ADD  CONSTRAINT [CK_UserShiftAssignments_EffectiveDates] CHECK  (([EffectiveTo] IS NULL OR [EffectiveTo]>=[EffectiveFrom]))
GO
ALTER TABLE [dbo].[UserShiftAssignments] CHECK CONSTRAINT [CK_UserShiftAssignments_EffectiveDates]
GO
ALTER TABLE [dbo].[UserShiftAssignments]  WITH CHECK ADD  CONSTRAINT [CK_UserShiftAssignments_ShiftName] CHECK  (([ShiftName]=N'Night' OR [ShiftName]=N'Afternoon' OR [ShiftName]=N'Morning'))
GO
ALTER TABLE [dbo].[UserShiftAssignments] CHECK CONSTRAINT [CK_UserShiftAssignments_ShiftName]
GO
USE [master]
GO
